.profile-doctor-container{
    .intro-doctor{
        display: flex;
        .content-left{
            width: 20%;
            background-repeat: no-repeat;
            background-size: contain;
            width: 200px;
            height: 200px;
            border-radius: 50%;
           
        }
        .content-right{
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up{
                font-weight: 600;
                font-size: 21px;
            }
            .down{
                text-align: justify;
                font-size: 18px;
            }
        }
    }
}